<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab final</title>
  </head>
  <body>
    <div class="bs-example">
      <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-top">
        <a href="/" class="navbar-brand">Pakistan Super League</a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarCollapse"
        >
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/login" class="nav-item nav-link">Login</a>
          </div>
          <div class="navbar-nav">
            <a href="/" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
    </div>

  </body>
</html>